<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/TokenSetFromLoginPage" method="POST">

        <label for="ID">Username:</label><br>
        <input type="text" id="Usernameid" name="UsernameName"><br><br>

        <label for="Passw">Password:</label><br>
        <input type="text" id="Passwid" name="PasswName"><br><br>

        <input type="submit" value="Login">

      </form>

      <form action="/Register" method="get">

        <input type="submit" value="Register">

      </form>
</body>
</html>