<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/AddDetails" method="get">

        <%=userDerived.userValue%>

        <input type="submit" value="Go To My Operations">
      </form>
</body>
</html>